@model IEnumerable<IPMI.Models.Master.deptModels>
@{
    ViewBag.Title = "REPORT ANALISA & PERBAIKAN MASALAH";
    var no = 0;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                @*<button class="btn btn-xs btn-danger" type="button" title="Print All Report" onclick="PrintAll()"><span class="fa fa-bar-chart-o"></span></button>*@
                <button type="button" title="Print All Report" class="btn btn-primary" onclick="return PrintAll()"><span class="bold fa fa-bar-chart-o">&nbsp;&nbsp;Print All</span></button>&nbsp;
                <hr />
                <table id="table" class="table table-bordered table-striped table-condensed">
                    <thead style="color:#357CA5">
                        <tr>
                            <th style="width:10px; text-align:center;">No</th>
                            <th style="width:50px;">ID Dept</th>
                            <th>Nama Department</th>
                            <th style="width:40px; text-align:center;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (var item in Model)
                        {
                            no++;
                            <tr>
                                <td class="_i">@no</td>
                                <td class="_IdDept">@item.IdDept</td>
                                <td>@item.NamaDept</td>
                                <td style="text-align:center;">
                                    <button class="btn btn-xs btn-danger" type="button" title="Print Report" onclick="ViewReport($(this))"><span class="fa fa-bar-chart-o"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function ()
        {
            DataTable();
        })
        toastr.options = {
            "positionClass": "toast-bottom-right",
            "timeOut": "5000",
            "preventDuplicates": true
        }
        function DataTable()
        {
            $('#table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth":false
            });
        }

      
        function ViewReport(data) {
            var IdDept = data.closest("tr").find("._IdDept").text();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ShowLaporanAnalisaIpmiByDept", "Reports")',
                data: {id: IdDept},
                success: function (data) {
                    if (!data.result) {
                        alert("Error");
                    }
                    else {
                        window.open("../Report/rptIMAnalisa.aspx", '_blank');
                    }
                }
            });
        }

        function PrintAll() {
            var IdDept = 'ALL';

            $.ajax({
                type: "POST",
                url: '@Url.Action("ShowLaporanAnalisaIpmiByDept", "Reports")',
                data: {id: IdDept},
                success: function (data) {
                    if (!data.result) {
                        alert("Error");
                    }
                    else {
                        window.open("../Report/rptIMAnalisa.aspx", '_blank');
                    }
                }
            });
        }
    </script>
}
